<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- For bootstrap template -->
<link rel="stylesheet" href="/templates/css/bootstrap.min.css">
<script src="/templates/js/jquery-3.2.1.min.js"></script>
<script src="/templates/js/bootstrap.min.js"></script>

<!-- For bootstrap clockpicker -->
<link rel="stylesheet" href="/templates/css/bootstrap-clockpicker.css" />
<link rel="stylesheet" href="/templates/css/bootstrap-clockpicker.min.css" />
<link rel="stylesheet" href="/templates/css/jquery-clockpicker.css" />
<link rel="stylesheet" href="/templates/css/jquery-clockpicker.min.css" />

<script src="/templates/js/bootstrap-clockpicker.js"></script>
<script src="/templates/js/bootstrap-clockpicker.min.js"></script>
<script src="/templates/js/jquery-clockpicker.js"></script>
<script src="/templates/js/jquery-clockpicker.min.js"></script>

<!-- For bootstrap material-switch-->
<link rel="stylesheet" href="/templates/css/bootstrap-material-switch.css" />

<html>
<body onload="success_msg_timer=setInterval(success_msg_fadeout, 1);">

<div class="container">

<!-- Success message -->
<legend><div class="alert alert-warning text-center" role="alert" id="success_message" style="display:none"><i class="glyphicon glyphicon-thumbs-up"></i>成功更改個人設定</div></legend>

<script>
var timer_total_count = {{success_msg_time}};
var timer_count = timer_total_count;
function success_msg_fadeout() {
	if (timer_count > 0) {
		document.getElementById("success_message").style.display="block";
		document.getElementById("success_message").style.opacity=(timer_count/timer_total_count);
		timer_count--;
	} else {
		document.getElementById("success_message").style.display="none";
		clearInterval(success_msg_timer);
	}
}
</script>

<form class="well form-horizontal" action="/setting/{{user.id}}?userToken={{user_token}}" method="post">
<fieldset>

<!-- Form Name -->
<legend>編輯個人化設定</legend>

<!-- Text input-->
<div class="form-group" style="display:none">
	<label class="col-md-4 control-label">你的稱呼</label>
	<div class="col-md-4 inputGroupContainer">
	<div class="input-group">
	<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
	<input type="text" id="name" name="name" value="{{user.name}}" class="form-control">
	</div>
	</div>
</div>

<!-- Text input-->
<div class="form-group">
	<label class="col-md-4 control-label">感興趣的縣市</label>
	<div class="col-md-4 inputGroupContainer">
	<div class="input-group">
	<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
	<input type="text" id="interest_city" name="interest_city" value="{{user.interest_city}}" class="form-control">
	</div>
	</div>
</div>

<!-- Text input-->
<div class="form-group">
	<label class="col-md-4 control-label">感興趣的行政區</label>
	<div class="col-md-4 inputGroupContainer">
	<div class="input-group">
	<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
	<input type="text" id="interest_district" name="interest_district" value="{{user.interest_district}}" class="form-control">
	</div>
	</div>
</div>

<!-- Text input-->
<div class="form-group">
	<label class="col-md-4 control-label">感興趣的地址</label>
	<div class="col-md-4 inputGroupContainer">
	<div class="input-group">
	<span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
	<input type="text" id="interest_road" name="interest_road" value="{{user.interest_road}}" class="form-control">
	</div>
	</div>
</div>

<!-- Text input-->
<div class="form-group" style="display:none">
	<label class="col-md-4 control-label">你工作的城市  ( 市 )</label>
	<div class="col-md-4 inputGroupContainer">
	<div class="input-group">
	<span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
	<input type="text" id="office_city" name="office_city" value="{{user.office_city}}" class="form-control">
	</div>
	</div>
</div>

<!-- Text input-->
<div class="form-group" style="display:none">
	<label class="col-md-4 control-label">你工作的地區  ( 區 )</label>
	<div class="col-md-4 inputGroupContainer">
	<div class="input-group">
	<span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
	<input type="text" id="office_district" name="office_district" value="{{user.office_district}}" class="form-control">
	</div>
	</div>
</div>

<!-- Text input-->
<div class="form-group" style="display:none">
	<label class="col-md-4 control-label">你工作的路名  ( 路段巷弄 )</label>
	<div class="col-md-4 inputGroupContainer">
	<div class="input-group">
	<span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
	<input type="text" id="office_road" name="office_road" value="{{user.office_road}}" class="form-control">
	</div>
	</div>
</div>

<!-- Checkbox List -->
<div class="form-group">
  <label class="col-md-4 control-label">想看的公告類型</label>
    <div class="col-md-4 selectContainer">
    <div class="input-group">
	<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
	<li class="list-group-item">
		停水
		<div class="material-switch pull-right">
			<input id="subscribe_water" name="subscribe_water" type="checkbox" value="on" {{user.subscribe_water}}/>
			<label for="subscribe_water" class="label-info"></label>
		</div>
	</li>
	<li class="list-group-item">
		停電
		<div class="material-switch pull-right">
			<input id="subscribe_electricity" name="subscribe_electricity" type="checkbox" value="on" {{user.subscribe_electricity}}/>
			<label for="subscribe_electricity" class="label-info"></label>
		</div>
	</li>
	<li class="list-group-item">
		道路施工
		<div class="material-switch pull-right">
			<input id="subscribe_road" name="subscribe_road" type="checkbox" value="on" {{user.subscribe_road}}/>
			<label for="subscribe_road" class="label-info"></label>
		</div>
	</li>
	</div>
	</div>
</div>

<!-- Checkbox List -->
<div class="form-group" style="display:none">
  <label class="col-md-4 control-label">不想收到通知的時間設定開關</label>
    <div class="col-md-4 selectContainer">
    <div class="input-group">
	<span class="input-group-addon"><i class="glyphicon glyphicon-ban-circle"></i></span>
    <li class="list-group-item">
		( 關 - 開 )
		<div class="material-switch pull-right">
			<input id="filter_on" name="filter_on" type="checkbox" value="on" {{user.filter_on}}/>
			<label for="filter_on" class="label-info"></label>
		</div>
	</li>
	</div>
	</div>
</div>

<!-- Clock picker -->
<div class="form-group">
	<label class="col-md-4 control-label">主動通知時間</label>
	<div class="col-md-4 selectContainer">
	<div class="input-group clockpicker">
	<span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
	<input type="text" id="active_notify" name="active_notify" value="{{user.active_notify}}" class="form-control" onfocus="blur()">
	</div>
	<script type="text/javascript">
	$('.clockpicker').clockpicker();
	</script>
	</div>
</div>

<!-- Clock picker -->
<div class="form-group">
	<label class="col-md-4 control-label">勿擾開始時間</label>
	<div class="col-md-4 selectContainer">
	<div class="input-group clockpicker">
	<span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
	<input type="text" id="undisturbed_start" name="undisturbed_start" value="{{user.undisturbed_start}}" class="form-control" onfocus="blur()">
	</div>
	<script type="text/javascript">
	$('.clockpicker').clockpicker();
	</script>
	</div>
</div>

<!-- Clock picker -->
<div class="form-group">
	<label class="col-md-4 control-label">勿擾結束時間</label>
	<div class="col-md-4 selectContainer">
	<div class="input-group clockpicker">
	<span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
	<input type="text" id="undisturbed_end" name="undisturbed_end" value="{{user.undisturbed_end}}" class="form-control" onfocus="blur()">
	</div>
	<script type="text/javascript">
	$('.clockpicker').clockpicker();
	</script>
	</div>
</div>

<!-- Text area -->
<div class="form-group">
	<label class="col-md-4 control-label">建議與回報</label>
	<div class="col-md-4 inputGroupContainer">
	<div class="input-group">
	<span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
	<textarea id="feedback" name="feedback" value="{{user.feedback}}" class="form-control"></textarea>
	</div>
	</div>
</div>

<!-- Button -->
<div class="form-group">
	<label class="col-md-4 control-label"></label>
	<div class="col-md-4 text-center">
	<button type="submit" class="btn btn-success">儲存變更<span class="glyphicon glyphicon-send"></span></button>
	</div>
</div>




</fieldset>
</form>
</div><!-- /.container -->

</body>
</html>

